<div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="teamsForm">
      <div class="input">
        <div>
          <input type="text" placeholder="Team name" value="name"
                 formControlName="name">
          <p class="error-msg" *ngIf="nameInput.hasError('required') &&
              (nameInput.touched || nameInput.dirty)">
            Name is required
          </p>
        </div>
      </div>
      <div class="input">
        <div>
          <input type="number" placeholder="Trainer id" value="trainerId"
                 formControlName="trainer_id">
          <p class="error-msg" *ngIf="trainerInput.hasError('required') &&
              (trainerInput.touched || trainerInput.dirty)">
            Trainer id is required
        </p>
        </div>
      </div>
    <br>
      <div class="Pokemon">
      <div class="input">
        <div>
          <input type="text" placeholder="Pokemon 1 name" value=""
                 formControlName="pokemonName">
          <p class="error-msg" *ngIf="pokemonInput.hasError('required') &&
              (pokemonInput.touched || pokemonInput.dirty)">
            Pokemon name is required
        </p>
    </div>
    </div>
    <div class="input">
        <div>
          <input type="text" placeholder="Pokemon 2 name" value=""
                 formControlName="pokemonName">
          <p class="error-msg" *ngIf="pokemonInput.hasError('required') &&
              (pokemonInput.touched || pokemonInput.dirty)">
            Pokemon name is required
        </p>
    </div>
    </div>
    <div class="input">
        <div>
          <input type="text" placeholder="Pokemon 3 name" value=""
                 formControlName="pokemonName">
          <p class="error-msg" *ngIf="pokemonInput.hasError('required') &&
              (pokemonInput.touched || pokemonInput.dirty)">
            Pokemon name is required
        </p>
    </div>
    </div>
    <div class="input">
        <div>
          <input type="text" placeholder="Pokemon 4 name" value=""
                 formControlName="pokemonName">
          <p class="error-msg" *ngIf="pokemonInput.hasError('required') &&
              (pokemonInput.touched || pokemonInput.dirty)">
            Pokemon name is required
        </p>
    </div>
    </div>
    <div class="input">
        <div>
          <input type="text" placeholder="Pokemon 5 name" value=""
                 formControlName="pokemonName">
          <p class="error-msg" *ngIf="pokemonInput.hasError('required') &&
              (pokemonInput.touched || pokemonInput.dirty)">
            Pokemon name is required
        </p>
    </div>
    </div>
    <div class="input">
        <div>
          <input type="text" placeholder="Pokemon 6 name" value=""
                 formControlName="pokemonName">
          <p class="error-msg" *ngIf="pokemonInput.hasError('required') &&
              (pokemonInput.touched || pokemonInput.dirty)">
            Pokemon name is required
        </p>
    </div>
    </div>
</div>

    <button type="submit" [disabled]="teamsForm.invalid">Submit</button>
    </form>
    </div>
    <div>
        <ul>
            <li *ngFor="let team of teamList">
                {{team.id}}
                {{team.name}}
                {{team.trainer_id}}
                {{team.pokemon_1}}
                {{team.pokemon_2}}
                {{team.pokemon_3}}
                {{team.pokemon_4}}
                {{team.pokemon_5}}
                {{team.pokemon_6}}  
            </li>
        </ul>